{{ define "base" }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dela</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>

<body class="d-flex flex-column h-100">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>
        </div>

        <div class="col-md-3 text-end" id="bar-auth">
          <a href="/otherpage" class="btn btn-outline-primary me-2">Other page</a>
        </div>
    </header>

    <div style="margin: auto;
    margin-top: 5ch;
    margin-bottom: 10ch;
    max-width: 120ch;">
        {{ template "content" . }}
    </div>
</body>

</html>

<script src="/scripts/someScript.js"></script>

{{ end }}